.sub-header-text {
  display: flex;
}

.all-of-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.sub-header-text {
  font-family: 'Manrope';
  font-weight: normal;
  color: gray;
  height: 0em;
}

.title {
  font-family: 'Manrope';
  font-weight: normal;
  color: gray;
  height: 0em;
  font-size: 2rem;
}

.typing-container {
  min-width: 2em;
  align-self: center;
  height: 2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: white;
}

.avatar-image {
  width: 250px;
  height: 250px;
  border-radius: 20ch;
  box-shadow: 0px 0px 15px 7px #e3ffff;
}

.emphasis-text {
  font-family: 'Manrope';
  font-weight: normal;
  color: white;
  height: 0em;
  padding-left: 0.4em;
}

.location-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-logos {
  background: white;
  padding: 20px;
  height: fit-content;
  margin: 10px;
  border-radius: 20ch;
  box-shadow: 0px 0px 7px 3px #e3ffff;
  transition:transform 0.3s ease;
}

.social-logos:hover {
  transform:scale(1.2);
}

.contact-icons {
  margin-top: 15px
}