.portfolio-container {
  display: flex;
  flex-direction: row;
}

.section-header {
  font-family: 'Manrope';
  font-weight: normal;
  color: white;
  font-size: 2.8rem;
  height: auto;
}

@media screen and (max-width: 960px) {
  .portfolio-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
  }

  .section-header {
    font-size: 2.4rem
  }
}