.pop-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  opacity: 95%;
  width: 80%;
  height: 80%;
  border-radius: 10ch;
  position: absolute;
  z-index: 10;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  max-width: 1000px; 
  min-width: 80%;
}

.popup-title {
  font-family: 'Manrope';
  font-weight: normal;
  color: gray;
  height: auto;
  font-size: 2rem;
}

.portfolio-title {
  font-family: 'Manrope';
  font-weight: normal;
  color: white;
  height: 0em;
  font-size: 1.8rem;
}

.popup-description {
  font-family: 'Manrope';
  font-weight: normal;
  color: gray;
  height: auto;
  text-align: center;
  width: 60%
}

.popup-button {
  background: transparent;
  border: 0;
  margin: 40px;
  position: absolute;
  right: 0;
  transition:transform 0.3s ease;
}

.popup-button:hover {
  transform:scale(1.2);
}

.portfolio-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.languages {
  font-family: 'Manrope';
  font-weight: normal;
  color: white;
  height: 0em;
  font-size: 1.1rem;
  width: 300px;
  text-align: center;
  height: fit-content;
  margin-left: 20px;
}

.button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: 0.5px solid white;
  border-radius: 20px;
  background: transparent;
  font-family: 'Manrope';
  font-weight: normal;
  color: white;
  transition:transform 0.3s ease;
}

.button:hover {
  transform:scale(1.2);
}

.button-container {
  position: relative;
}

.image {
  width: 250px;
  height: 250px;
}

.popup-github-button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: 0.5px solid gray;
  border-radius: 20px;
  background: transparent;
  font-family: 'Manrope';
  font-weight: normal;
  color: gray;
  height: fit-content;
  margin-top: 20px;
  margin-right: 20px;
}

.carousel-image {
  height: 180px;
  opacity: 100%;
  margin-left: 25px;
  transition:transform 0.25s ease;
  border-radius: 15px;
}

@media screen and (max-width: 960px) {
  .carousel-image {
    width: 100px;
    height: 100%
  }
  .screenshots {
    flex-direction: column;
  }
  .popup-description {
    width: 90%;
    font-size: 0.85rem
  }
  .popup-title {
    font-size: 1.5rem;
  }
}

.carousel-image:hover {
  transform:scale(2.5);
}

.screenshots {
  display: flex;
  flex-direction: row;
}